USE [DesafioFiapDb] -- SELECIONE O BANCO DE DADOS
GO
/****** Object:  Table [dbo].[TB_ALUNOS]    Script Date: 26/06/2023 14:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ALUNOS](
	[Id_Aluno] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Usuario] [varchar](45) NOT NULL,
	[Senha] [char](60) NOT NULL,
 CONSTRAINT [PK_TB_ALUNOS] PRIMARY KEY CLUSTERED 
(
	[Id_Aluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ALUNOS_TURMAS]    Script Date: 26/06/2023 14:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ALUNOS_TURMAS](
	[AlunoId] [int] NOT NULL,
	[TurmaId] [int] NOT NULL,
 CONSTRAINT [PK_TB_ALUNOS_TURMAS] PRIMARY KEY CLUSTERED 
(
	[AlunoId] ASC,
	[TurmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TURMAS]    Script Date: 26/06/2023 14:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TURMAS](
	[Id_Turma] [int] IDENTITY(1,1) NOT NULL,
	[Id_Curso] [int] NOT NULL,
	[Nome_Turma] [varchar](45) NOT NULL,
	[Ano] [int] NOT NULL,
 CONSTRAINT [PK_TB_TURMAS] PRIMARY KEY CLUSTERED 
(
	[Id_Turma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_ALUNOS_TURMAS]  WITH CHECK ADD  CONSTRAINT [FK_TB_ALUNOS_TURMAS_TB_ALUNOS_AlunoId] FOREIGN KEY([AlunoId])
REFERENCES [dbo].[TB_ALUNOS] ([Id_Aluno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_ALUNOS_TURMAS] CHECK CONSTRAINT [FK_TB_ALUNOS_TURMAS_TB_ALUNOS_AlunoId]
GO
ALTER TABLE [dbo].[TB_ALUNOS_TURMAS]  WITH CHECK ADD  CONSTRAINT [FK_TB_ALUNOS_TURMAS_TB_TURMAS_TurmaId] FOREIGN KEY([TurmaId])
REFERENCES [dbo].[TB_TURMAS] ([Id_Turma])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_ALUNOS_TURMAS] CHECK CONSTRAINT [FK_TB_ALUNOS_TURMAS_TB_TURMAS_TurmaId]
GO
